name: lume
description: "A new Flutter project."

repository: https://github.com/certainlyWrong/lume_project/tree/main/lume
homepage: https://github.com/certainlyWrong/lume_project/tree/main/lume

version: 1.0.0+1

environment:
  sdk: ^3.11.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_rust_bridge: ^2.11.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

